<%- include('../partials/header') %> 
    <h4>Registration</h4>
    <%= msg %> 
    <form action="/auth/register" method="POST">
        <input type="text" name="username" placeholder="username"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="password"><br>
        <input type="password" name="password2" placeholder="confirm password"><br>
        <button type="submit">Register</button>
    </form>
<%- include('../partials/footer') %>