<div class="sidenav">
        <a id="logo" href="/dash/<%=user._id%>">CashCount</a>
        <a href="#">Help</a>
        <a href="/dash/<%=user._id%>/settings">Settings</a>
        <a href="/dash/logout">Logout</a>
</div>