<%- include('./partials/homeheader') %>
<div class="container">
    <div class="row"> 
            <h1><strong>Welcome to</strong></h1>
            <h2 id="homeTitle">CashCount</h2>
    </div>
    <img src="/images/home.jpg">
</div>
<div class="btn-container">
    <p><%= logOut %></p>
    <a href="/auth/login"><button>Login</button></a>
    <a href="/auth/register"><button>Register</button></a>
</div>
<%- include('./partials/footer') %> 