<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha256-ECB9bbROLGm8wOoEbHcHRxlHgzGqYpDtNTgDTyDz0wg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Cash Count Home</title>
</head>
<body>
    <%= logOut %>
    <h1>Welcome to CashCount</h1>
    <a href="/auth/login"><button>Login</button></a>
    <a href="/auth/register"><button>Register</button></a>
</body>
</html>