<%- include('./partials/homeheader') %>
<div class="container">
    <div class="row"> 
            <h1><strong>Welcome to</strong></h1>
            <h2 id="home-title">CashCount</h2>
    </div>
    <p><i>Your free online budgeting application.</i></p>
    <img src="/images/home.jpg">
</div>
<div class="btn-container">
    <p><strong><i><%= logOut %></i></strong></p>
    <a href="/auth/login"><button>Login</button></a>
    <a href="/auth/register"><button>Register</button></a>
</div>
<%- include('./partials/footer') %> 