* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    border: .5rem solid black;
    margin: 2% 20% 2% 20%;
    padding-bottom: 2%;
    overflow: hidden;
    background-color: whitesmoke;
}

img { 
    width: 65%;
}

button:hover {
    background-color: lightblue;
}


.container {
    text-align: center;
    margin-top: 2%;
}

.btn-container {
    margin-top: 3%;
    text-align: center;
}

.reg-container {
    border: 1rem solid black;
}

#home-title {
    font-family: 'Lobster', cursive;
    font-size: 10rem;
}

@media screen and (max-width: 825px) {
    #home-title {font-size: 5rem;}

}