* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

li {
    display: flex;
}

body {
    background-color: whitesmoke;
}

button {
    background-color: white;
}

button:hover {
    background-color: lightblue;
}

p {
    margin-bottom: -1%;
}

form {
    padding-left: 2%;
}

form input[type=text] {
    border: .2rem solid darkblue;
}
form input[type=number] {
    border: .2rem solid darkblue;
}
form input[type=password] {
    border: .2rem solid darkblue;
}
form input[type=email] {
    border: .2rem solid darkblue;
}
.main {
    border: .5rem solid black;
    width: 67%;
    margin-left: 320px;
    margin-top: 3%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form p {
    margin-bottom: 0;
}

.form input {
    width: 20%;
}

.form button {
    width: 13%;
}

.container {
    margin-top: 2%;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.editModalExp {
    display: none;
}

.editModalInc {
    display: none;
}

.reg-logo {
    font-family: 'Lobster', cursive;
    font-size: 5rem;
}

.reg-title {
    margin-top: 1%;
}

.login-container {
    border: .5rem solid black;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 8% 30% 0 30%;
}

.reg-container {
    border: .5rem solid black;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 8% 30% 0 30%;
}

#logo {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3.2rem;
}

#homeTitle {
    font-family: 'Lobster', cursive;
    font-size: 7rem;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 540px) {
    .reg-logo {font-size: 4rem;}
}

@media screen and (max-width: 1006px) {
    .main {margin-left: 195px;}
    .main {border: none;}
    li {flex-direction: column;}
    .editInc {width: fit-content;}
    .editExp {width: fit-content;}
}