<%- include('../partials/header') %>
    <h1>Dashboard</h1>
    <h3>Income</h3>
    <ul>
        <li>Income Item</li>
    </ul>
    <h3>Expense</h3>
    <ul>
        <li>Expense Item</li>
    </ul>
    <p><a href="dash/logout">Logout</a></p>
<%- include('../partials/footer') %> 