<%- include('../partials/header')%>
<%- include('../partials/navbar')%>
<div class="main">
        <div class="container">
            <h1><strong>F.A.Q.</strong></h2>
            <br/>
            <h5><i>How can I keep track of my budget?</i></h5>
            <h6>Use the "+" button to log an income and the "-" button to log an expense. You can also edit each logging at any time.</h6>
            <h5><i>What technologies does CashCount use?</i></h5>
            <h6>JavaScript, Node, Express, MongoDB, Embedded JavaScript (EJS), CSS, Animate, and Skeleton.</h6>
            <h5><i>Who created CashCount?</i></h5>
            <h6>Jason Moon. You can find more on his <a href="http://github.com/moonjason">GitHub</a> and can connect with him on <a href="http://linkedin.com/in/jasonmoon96">LinkedIn.</a></h6>
        </div>
    </div>
<%- include('../partials/footer')%>