<%- include('../partials/header') %>
    <h2>Change Password</h2>
    <form action="/dash/<%=user._id%>/settings?_method=PUT" method="POST">
        <input type="password" name="passwordOld" placeholder="Old Password">
        <input type="password" value="" name="password" placeholder="New Password">
        <input type="password" value="" name="passwordConfirm" placeholder="Confirm Password">
        <button type="submit">Confirm</button>
    </form>
<%- include('../partials/footer') %>
